<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado Vehiculos Disponibles</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-light text-dark">
	<form th:action="@{/clientes/regresar}" th:method="GET">
		<table class="table table-info table-hover table-bordered border-info border-3 align-middle">
			<thead>
				<tr>
					<th class="text-center">Placa</th>
					<th class="text-center">Modelo</th>
					<th class="text-center">Marca</th>
					<th class="text-center">Año</th>
					<th class="text-center">Estado</th>
					<th class="text-center">Valor por día</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="vehi:${lista}">
					<td class="text-center" th:text="${vehi.placa}"></td>
					<td class="text-center" th:text="${vehi.modelo}"></td>
					<td class="text-center" th:text="${vehi.marca}"></td>
					<td class="text-center" th:text="${vehi.anioFabricacion}"></td>
					<td class="text-center" th:text="${vehi.estado}"></td>
					<td class="text-center" th:text="${vehi.valorPorDia}"></td>
				</tr>
			</tbody>
		</table>
		<div class="d-grid gap-2 col-6 mx-auto">
			<input class="btn btn-outline-info border-3" type="submit" value="Regresar al Inicio">
		</div>
	</form>

</body>

</html>